.device-page {
    justify-content: center;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
}

.navbar-brand {
    margin-left: 20px; /* You can adjust this value as needed */
}
.data-graph-container {
    justify-content: center;
}